// Breaks
$large-break: 48em;

$breakpoints: (
  large: $large-break
);

// Body
// $background-color: #fafafa;
$background-color: #e5e5e5;

// Typography
$base-font-size: 14px;
$base-font-family: "proxima-nova", 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-line-height: 150%;
$base-color: #111;

$p-font-sizes: (
  null  : $base-font-size,
  large : ($base-font-size * 1.4)
);

$p-line-heights: (
  null  : $base-line-height,
  large : $base-line-height
);

$input-font-sizes: (
  null  : $base-font-size,
  large : ($base-font-size * 1.4)
);

// Links
$link-color: #ff5722;
