/* Breaks */
$screen-lg: 42rem;

/* Colors */
$background-color: #e5e5e5;

/* Typography */
$base-font-size: 16px;
$base-font-family: "proxima-nova", 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-line-height: 1.5;
$base-color: #333;

$header-font-family: "bebas-neue", sans-serif;

/* Links */
$link-color: deepPink;
/* $link-color: #ff5722;*/
